*{
    margin:0;
    padding:0;
}


body{
    background-color: #AED2FF;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin:20px;
}

#preloader{
    background: url(https://htmlburger.com/blog/wp-content/uploads/2021/07/The-Best-50-Website-Preloaders-Around-the-Web-Example-02.gif) center no-repeat;
    background-size: 100%;
    height:100%;
    width:100%;
    position:fixed;
    z-index:10
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin-left:10px;
    margin-right:10px;
    padding:80px;
    

}

nav ul li a {
    color:white;
    text-decoration:none;

     
}


nav ul li a:hover{
    font-size: 22px;
    
}

h1:hover{
transform: scale(1.1);
}

nav ul {
    background-color: #27005D;
    padding:30px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0 0 50px rgba(255,255,255,1);
    


}
.any{
    position:sticky;
    top:0;
    
    z-index: 1;
}
.avatar{
    width:200px;
    height:400px;
    border-radius :50%;
    float:right;
    margin-right:100px;
    background: #6c63ff;
    box-shadow: 0 0 0 6px #e0e0ff;

}
p{
    font-family: cursive;
    margin:50px;
    font-size:25px
}
.p1{
    margin-left:700px
}

nav table{
    width:80%;
    margin:80px;
    text-align:left;
    border-collapse:separate;
    border-spacing: 0;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);

}
nav table th,nav table td{
    padding:15px;
    
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

}
nav table th{
    background: linear-gradient(180deg, #3f6093 0%,#4a77b6 100%);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #2e4a6d;

    

}
nav table td{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
nav table tr:hover {
    background-color: #c6e1fa;
}

.grid-container{
    display:grid;
    padding-left: 200px;
    padding-right:200px;
    grid-template-columns: 1fr 1fr 1fr;
    gap:200px;

}

.grid-item{
    text-align: center;
    padding:10px;
    
}
.circle{
    width:250px;
    height:250px;
    border-radius:50%;
    background:linear-gradient(180deg,#9400FF 0%,#8e44ad 100%) ;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
    0 0 18px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4)
    ;
    
}
.circle:hover{
    transform: translateY(-7px) scale(1.05);
}

.hobby-item{
    margin-bottom: 20px;
}
.hobby{
    font-weight: bold;
    color:#000000;
    margin-bottom: 10px;
    display: block;
    font-family: cursive;
    border-radius: 20px;
}

.progress{
    width: 100%;
    height:30px;
    background-color: #e0e0e0;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255,255,255,0.5);
    overflow: hidden;

}
.progress:hover{
    box-shadow: 0 0 25px rgba(255, 255, 255, 1);
}
.bar{
    height:100%;
    
}

.reading .bar{
    width:95%;
    
    border-radius: 20px;
    background: linear-gradient(to right, #4b037e 0%, #8e44ad 100%);
}
.guitar .bar{
    width:75%;
    
    border-radius: 20px;
    background: linear-gradient(to right, #4b037e 0%, #8e44ad 100%);
}

.volleyball .bar{
    width:95%;
    
    border-radius: 20px;
    background: linear-gradient(to right, #4b037e 0%, #8e44ad 100%);
}
.puzzles .bar{
    width:90%;
    
    border-radius: 20px;
    background: linear-gradient(to right, #4b037e 0%, #8e44ad 100%);
}

.socials{
    display:flex;
    gap:15px;
    margin-left: 700px;
}
.circles{
    width:40px;
    height:40px;
    border-radius:50%;
    background:#eaeaea;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:18px;
    

}

.circles:hover{
    transform: scale(1.5);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
    0 0 18px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4)
    ;
    
}

.insta{
    color:#e1306c;
    background-color: #000000;
}
.fb{
    color:#1877f2;
    background-color: #000000;
}
.X{
    color:#1da1f2;
    background-color: #000000;
}






.bigbox{
    background-color: #27005D;
    padding:40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    width:40%;
    margin-left: 400px;
    margin-top: 60px;

}
.contactform{
    display:flex;
    flex-direction: column;
    gap:20px
}
.form-input{
    background-color: #3e3269;
    padding:15px;
    border-radius: 15px;
    color:#ffffff;
    font-size: 20px;
    width:100%;
    box-sizing: border-box;
}
.form-input::placeholder{
    color:rgba(255,255,255,0.7);
    font-weight: 400;
}

.form-textarea{
    resize:vertical;
    min-height: 120px;
}


.btn{
    background-color: #8e44ad;
    color:#ffffff;
    padding:15px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}
.btn:hover{
    scale:1.1;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
    0 0 18px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4)
    ;
}
.btn:active{
    transform: scale(0.99);
}

.project{
    width:300px;
    height:200px;
    border:2px solid #e0e0e0;
    border-radius:30px;
    margin:15px;
    filter:blur(1px)


}
.project:hover{
    scale:1.1;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
    0 0 18px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4)
    ;
}